body {
    background-color: #eee;
}
h1 {
    padding-bottom: 10px;    
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    box-shadow: 0 0 10px gray;
}
.header_box {
    width: 100%;
    height: 100px;
    background-color: #111;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.header_box .header_logo {
    font-size: 40px;
    font-weight: bold;
}
.header_box {
    width: 100%;
    height: 100px;
    background-color: #111;
}
.content_box {
    display: flex;
    /* justify-content: space-between; */
    min-height: calc(100vh - 100px);
    height: auto;
}
.main_box {
    flex: 1;
    width: 75%;
    background-color: #fff;
}
.sidebar_box {  
    color: #fff;
    font-size: 22px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 25%;
    background-color: #333;
}
.sidebar_box div{
    padding-bottom: 20px;
}
.main_wrap {
    max-width: 800px;
    width: 90%;
    min-height: auto;
    height: auto;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main_wrap a{
    color: #101c53;
}
.main_wrap p{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main_wrap form{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main_wrap form button {
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #435188;
    height: 35px;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.header_box form button {
    max-width: 100%;

    border-radius: 10px;
    border: none;
    background-color: #435188;
    height: 35px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.input_unit {
    max-width: 100%;
    width: 100%;
    margin: auto;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.input_unit input{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #777;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
}
.input_unit span {
    color: red;
    padding-left: 10px;
    font-size: 16px;
}
.textarea_unit {
    max-width: 100%;
    width: 100%;
    margin: auto;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textarea_unit textarea{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #777;
    padding-left: 10px;
    padding-right: 10px;
    height: 400px;
    resize: none;
}
.content_frame {
    padding: 20px;
    /* max-height: 70vh; */
}
.scroll_frame {
    padding: 20px;
    max-height: 66vh;
}
.scrollY {
    overflow-y: scroll;
}
.reservation_wrap {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}
.reservation_wrap a {
    text-align: left;
}

.reservation_title {
    font-weight: bold;
    font-size: 20px;
}
.chatlist_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
.chatlist {
    font-size: 18px;
    width: 100%;
    background-color: #fafafa;
    padding: 10px;

    border: 1px solid #000;
    border-width:1px 0 1px 1px;

}
.newmsg_count {
    border-radius: 0 20px 20px 0;
    width: 70px;
    font-size: 25px;
    background-color: #435188;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-width:1px 1px 1px 0px;
}
.no_newmsg {
    background-color: #fafafa;
}
.chat_frame {
    overflow-y: scroll;
    height: 66vh;
    padding-left: 20px;
    padding-right: 20px;
}
.msg {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}
.msg_status{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.msg_wrap {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 10px;
}
.my_msg_wrap {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-bottom: 10px;
}
.my_msg_wrap .msg{
    background-color: #435188;
    color: #fff;
    border: none;
}

.chat_input {
    display: flex;
    align-items: center;
    gap: 5px;
}
.chat_input textarea{
    width: 90%;
    border-radius: 10px;
    height: 40px;
    resize: none;
}
.chat_input .chat_button {
    width: 10%;
    height: 40px;
    align-items: center;
}
.user_data {
    font-size: 18px;
    padding-bottom: 10px;
}
.user_data span{
    padding-left: 10px;
}
.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.reservation_intro {
    border-top: 1px solid #777;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.reservation_card {
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.reservation_card .cancel_btn {
    background-color: #972222;
}
.reservation_card .disabled_btn {
    background-color: #5e5e5e;
}
.reservation_card button {
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #435188;
    color: #fff;
    cursor: pointer;
}
.reservation_end {
    border-top: 1px solid #777;
    padding-top: 20px;
}
.reservation_slot {
    border-bottom: 1px solid #777;
    padding-top: 20px;
    padding-bottom: 20px;
}
span {
    font-size: 18px;
}